html /deep/ {
    .blickr.form {
        position: relative;
        padding: 0;
        margin: 20px 60px 40px 60px;

        &[data-element-count="0"], &[data-element-count="1"] {
            & /deep/ .blickr.tool.closer {
                display: none;
            }
        }
    }

    .blickr.element {
        margin-top: 10px;
        margin-bottom: 20px;
        //border-top: 5px solid red;
        //border-bottom: 5px solid blue;

        /**
         * Header
         */
        &.header {
            paper-input {
                font-family: 'Roboto', 'Helvetica Neue';
                font-weight: 200;
                width: 100%;
                font-size: 2em;
            }
        }

        /**
         * Image Uploader
         */
        &.image-uploader {
            position: relative;
            margin-bottom: 10px;

            paper-icon-button {
                position: absolute;
                right: 10px;
                bottom: 10px;
                border-radius: 100px;
            }

            img {
                width: 100%;
            }

            &[data-url=""] {
                height: 160px;
                border: 5px dashed #eee;
                padding: 20px;

                img {
                    display: none;
                }

                &:after {
                    content: 'Drag and drop your photos or images here.';
                    color: #999;
                }
            }

            &[data-drag="true"] {
                &:after {
                    content: 'Drop when you are ready.';
                    color: #666;
                }
            }
        }

        &.paragraph {
            paper-autogrow-textarea {
                width: 100%;
                min-height: 40px;
                background-color: transparent;
            }

            paper-autogrow-textarea textarea {
                font-family: 'Roboto', 'Helvetica Neue';
                font-size: 1em;
                font-weight: 200;
                color: #666;
                border: 1px solid transparent;
            }

            paper-autogrow-textarea textarea:focus {
                color: #000;
            }
        }
    }

    .blickr.tool {
        &.closer {
            position: absolute;
            left: 100%;
            color: #ddd;

            &:hover {
                color: #cc0000;
            }
        }

        &.inserter {
            paper-icon-button {
                position: absolute;
                margin-left: -50px;
                margin-top: -25px;
                border: 1px solid #eee;
                color: #ccc;
                border-radius: 100px;

                &:hover {
                    border: 1px solid #999;
                    color: #666;
                }
            }
        }

        &.actions {
            paper-button {
                border: 1px solid #ddd;
            }
        }
    }
}