<!--
Blickr/Header

bower install polymer
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="blickr-base-element.html">

<polymer-element extends="blickr-base-element" name="blickr-header" attributes="label childId placeholder">
    <template>
        <shadow></shadow>

        <div data-guid="{{ childId }}" class="blickr element header">
            <paper-input
                id="header"
                label="{{ label }}"
                floatingLabel="false"
            ></paper-input>
        </div>
    </template>
    <script>
        Polymer({
            elementType: 'header',
            childId:     null,
            label:       'Header',
            titleLength: 80,
            placeholder: 'What is this section about?',

            ready: function () {
                this.childId = parseInt(this.childId, 10);

                if (this.childId === 0) {
                    this.$.closer.remove();
                }
            },

            get value() {
                return this.$.header.value;
            }
        });
    </script>
</polymer-element>