<!--
Blickr/Inserter

bower install polymer
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../core-menu/core-menu.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-dropdown/paper-dropdown.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="stylesheet" href="css/base.css">

<polymer-element name="blickr-inserter" attributes="childId">
    <template>
        <div data-guid="{{ childId }}" class="blickr tool inserter">
            <paper-icon-button
                id="triggerActivator"
                icon="chevron-right"
                class="trigger activator"
                title="Add elements"
                on-click="{{ onClickToggleMenu }}"
                on-mouseenter="{{ onTriggerActivatorMouseEnter }}"
                on-mouseleave="{{ onTriggerActivatorMouseLeave }}"
            ></paper-icon-button>

            <paper-dropdown
                id="dropdowner"
                class="dropdown"
                on-core-overlay-open="{{ onMenuOpening }}"
                on-core-overlay-open-completed="{{ onMenuOpened }}"
                on-core-overlay-close-completed="{{ onMenuClosed }}">
                <core-menu class="menu">
                    <paper-item class="element-inserter" on-click="{{ onAddClick }}" data-type="paragraph">Paragraph</paper-item>
                    <paper-item class="element-inserter" on-click="{{ onAddClick }}" data-type="image">Image</paper-item>
                </core-menu>
            </paper-dropdown>
        </div>
    </template>
    <script>
        Polymer({
            childId: null,
            activated: false,
            activatorOpacityOnInactiveState: 0.1,

            ready: function () {
                this.reset();
            },

            reset: function () {
                this.activated = false;
                this.$.triggerActivator.disabled = false;
                //this.$.triggerActivator.style.opacity = this.activatorOpacityOnInactiveState;
            },

            onMenuOpening: function () {
                this.activated = true;
                //this.$.triggerActivator.disabled = true;
            },

            onMenuOpened: function () {
                //this.$.triggerActivator.style.display = 'none';
            },

            onMenuClosed: function () {
                //this.$.triggerActivator.style.display = 'inherit';
                this.reset();
            },

            onTriggerActivatorMouseEnter: function () {
                if (this.activated) {
                    return;
                }

                //this.$.triggerActivator.style.opacity = 1;
            },

            onTriggerActivatorMouseLeave: function () {
                if (this.activated) {
                    return;
                }

                this.reset();
            },

            onClickToggleMenu: function (e) {
                if (this.activated) {
                    return;
                }

                e.preventDefault();

                this.$.dropdowner.open();
            },

            onClickDisabled: function (e) {
                e.preventDefault();

                alert('Action disabled');
            },

            onAddClick: function (e) {
                var $anchor = $(e.currentTarget),
                    details = {
                        originId: this.childId,
                        kind:     $anchor.attr('data-type')
                    }
                ;

                e.preventDefault();

                this.$.dropdowner.close();

                this.fire('add', details);
            }
        });
    </script>
</polymer-element>