<!--
Blickr/Table
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="blickr-base-element.html">

<polymer-element extends="blickr-base-element" name="blickr-header" attributes="label childId placeholder">
    <template>
        <shadow></shadow>
    </template>
    <script>
        Polymer({
            elementType: 'header',
            childId:     null,
            label:       'Header',
            titleLength: 80,
            placeholder: 'What is this section about?',

            ready: function () {
                this.childId = parseInt(this.childId, 10);

                if (this.childId === 0) {
                    this.$.closer.remove();
                }
            },

            get value() {
                return this.$.header.value;
            }
        });
    </script>
</polymer-element>