<!--
Blickr/Paragraph

bower install polymer
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-input/paper-autogrow-textarea.html">
<link rel="import" href="blickr-base-element.html">

<polymer-element extends="blickr-base-element" name="blickr-paragraph" attributes="childId content">
    <template>
        <shadow></shadow>

        <div data-guid="{{ childId }}" class="blickr element paragraph">
            <paper-autogrow-textarea>
                <textarea id="paragraph" value="{{ content }}" placeholder="Writing something..."></textarea>
            </paper-autogrow-textarea>
        </div>
    </template>
    <script>
        Polymer({
            elementType: 'paragraph',

            ready: function () {},

            get value() {
                return this.$.paragraph.value;
            }
        });
    </script>
</polymer-element>