<!--
Blickr/Actions

bower install polymer
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="stylesheet" href="css/base.css">

<polymer-element name="blickr-actions" attributes="submitLabel">
    <template>
        <div class="blickr tool actions">
            <paper-button class="save"   on-click="{{ onSave }}">Save</paper-button>
            <paper-button class="cancel" on-click="{{ onCancel }}">Cancel</paper-button>
        </div>
    </template>
    <script>
        Polymer({
            elementType: 'actions',

            onSave: function (e) {
                this.fire('save');
            },

            onCancel: function (e) {
                this.fire('cancel');
            }
        });
    </script>
</polymer-element>