<!--
Blickr/Main

bower install polymer
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="blickr-header.html">
<link rel="import" href="blickr-paragraph.html">
<link rel="import" href="blickr-inserter.html">
<link rel="import" href="blickr-image.html">
<link rel="import" href="blickr-actions.html">
<link rel="stylesheet" href="css/base.css">

<polymer-element name="blickr-form">
    <template>
        <form id="blickrForm" class="blickr form"></form>
    </template>
    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="js/blickr.js"></script>
    <script>
        Polymer({
            ready: function (e) {
                this.context  = this.$.blickrForm;
                this.blickr   = new Blickr(this.context);

                this.blickr.activate();

                this.blickr.on('submit',          $.proxy(this.onSubmit,         this));
                this.blickr.on('element.added',   $.proxy(this.onElementAdded,   this));
                this.blickr.on('element.deleted', $.proxy(this.onElementRemoved, this));
            },

            get data() {
                return this.blickr.getData();
            },

            add: function (kind, options) {
                this.blickr.add(kind, options);
            },

            enableControls: function () {
                this.blickr.enableControls();
            },

            onElementAdded: function (e) {
                this.context.setAttribute('data-element-count', this.context.querySelectorAll('.element').length);
                this.fire('element.added', e.detail);
            },

            onElementRemoved: function (e) {
                this.context.setAttribute('data-element-count', this.context.querySelectorAll('.element').length);
                this.fire('element.deleted', e.detail);
            },

            onSubmit: function (e) {
                this.fire('submit', e.detail);
            },

            onCloseRemoveElement: function (e) {
                e.preventDefault();

                this.nextSibling.remove();
                this.remove();
            }
        });
    </script>
</polymer-element>