<!--
Blickr/Paragraph

bower install polymer
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-icon/core-icon.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-dialog/paper-action-dialog.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="blickr-base-element.html">

<polymer-element extends="blickr-base-element" name="blickr-image" attributes="childId url">
    <template>
        <shadow></shadow>

        <div
            id="image"
            class="blickr element image-uploader"
            data-guid="{{ childId }}"
            data-url=""
            on-dragenter="{{ onDragOver }}"
            on-dragover="{{ onDragOver }}"
            on-dragend="{{ onDragEnd }}"
            on-dragleave="{{ onDragEnd }}"
            on-drop="{{ onDrop }}"
        >
            <img src>

            <paper-icon-button icon="link" title="Refer to an external image." on-click="{{ onLinkClick }}"></paper-icon-button>

            <paper-action-dialog
                id="image_linker"
                transition="core-transition-center"
                heading="Where is the image?"
                backdrop="true"
                on-core-overlay-open-completed="{{ onImageLinkerReady }}">
                <style>
                    #image_linker {
                        width: 300px;
                        height: 200px;
                    }

                    #image_linker paper-input {
                        width: 100%;
                    }
                </style>
                <div>
                    <paper-input label="http://" floatingLabel="false"></paper-input>
                </div>
                <paper-button affirmative>Cancel</paper-button>
                <paper-button affirmative on-click="{{ onMakeImageReference }}">Done</paper-button>
            </paper-action-dialog>

            <paper-action-dialog
                id="warning_undefined_upload_handler"
                transition="core-transition-center"
                heading="Where is the image?"
                backdrop="true">
                <style>
                    #warning_undefined_upload_handler {
                        width: 460px;
                        height: 250px;
                    }

                    #warning_undefined_upload_handler paper-input {
                        width: 100%;
                    }
                </style>
                <div>
                    <p>
                        Uploader is not enabled for this editor. You can add a picture
                        by uploading to somewhere else and click <core-icon icon="link"></core-icon>
                        to add a reference (URL) to the picture.
                    </p>
                </div>
                <paper-button affirmative>Close</paper-button>
            </paper-action-dialog>
        </div>
    </template>
    <script>
        Polymer({
            elementType: 'paragraph',

            ready: function () {
                this.$.image.setAttribute('data-drag', false);
            },

            get uploadHandler() {
                return this._uploadHandler;
            },

            set uploadHandler(uploadHandler) {
                this._uploadHandler = uploadHandler;
            },

            onDragOver: function (e) {
                e.preventDefault();

                this.$.image.setAttribute('data-drag', true);
            },

            onDragEnd: function (e) {
                e.preventDefault();

                this.$.image.setAttribute('data-drag', false);
            },

            onDrop: function (e) {
                var files = e.dataTransfer.files;

                e.preventDefault();

                this.$.image.setAttribute('data-drag', false);

                // Handle uploading
                // @see http://html5doctor.com/drag-and-drop-to-server/

                if (this.uploadHandler === undefined || this.uploadHandler === null) {
                    this.$.warning_undefined_upload_handler.open();

                    return;
                }

                this.uploadHandler(files);

                return false;
            },

            onLinkClick: function (e) {
                e.preventDefault();

                this.$.image_linker.open();
            },

            onImageLinkerReady: function (e) {
                var target = e.currentTarget,
                    input  = target.querySelector('paper-input');

                // Bugs in Polymer which won't set the focus on the input element.
                input.focus();

                console.log(input);
            },

            onMakeImageReference: function (e) {
                var url = e.currentTarget.parentNode.querySelector('paper-input').value;

                e.preventDefault();

                if (!url.match(/^https?\:\/\/[^\/]+.+/)) {
                    return;
                }

                this.$.image.setAttribute('data-url', url);
                this.$.image.querySelector('img').setAttribute('src', url);

                this.fire('reference', {
                    url: url,
                });

                this.$.image_linker.close();
            }
        });
    </script>
</polymer-element>