<!--
Blickr/BaseElement

bower install polymer
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="stylesheet" href="css/base.css">

<polymer-element name="blickr-base-element">
    <template>
        <paper-icon-button
            id="closer"
            class="blickr tool closer"
            icon="close"
            on-click="{{ onCloseRemoveElement }}"
        ></paper-icon-button>
    </template>
    <script>
        Polymer({
            onCloseRemoveElement: function (e) {
                e.preventDefault();

                this.nextSibling.remove();
                this.remove();

                this.fire('removed', { elementId: this.childId });
            }
        });
    </script>
</polymer-element>