<link rel="import" href="../polymer/polymer.html">

<polymer-element name="app-config">
    <script>
        (function () {
            var _version = [0, 0, 1, 'a'];

            Polymer({
                ready: function () {
                    this._dev = false;
                    this._childId = 1;
                },

                get version() {
                    return _version.join('.');
                },

                check: function () {
                    return true;
                }
            });
        })();
    </script>
</polymer-element>